 <!DOCTYPE html>
 <!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
 <!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
 <!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
 <!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
 <head>
     {% include head.html %}
 </head>
 <body>
     {% include nav.html %}
     <!-- Header -->
     <header class="header flex" role="banner">
             <div style="justify-content: center;">
                 <br/>
                 <br/>
                 <br/>
                     <a href="{{ site.url }}">
                        <img src= "/assets/img/logo.jpg" style = "max-width:40%; height:auto">
                     </a>
                     <br/>
 
                     <img src= "/assets/img/profile.png" style= "border-radius:50%; max-width:25%; height:auto">

                     <h3 class="title">
                         <a href="{{ site.url }}">
                         	<p style="font-size:1rem;font-weight:300">{{ site.bio }}</p>
 			            </a>
                     </h3>
                     {% include social-links.html %}
                   <hr class="hr-line">
                   <h3 class="title">
                          <a class="btn zoombtn" href="{{ site.url }}/assets/Portfolio.pdf">
                          Portfolio
                          </a>
                          <a class="btn zoombtn" href="{{ site.url }}wanderso.me>
                          Travel Blog
                          </a> 
                  </h3>
          
             </div>
     </header>
     {% include scripts.html %}
 </body>
 </html>
